@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-peyda: PeydaWebFaNum, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem !important;
}

body {
  font-family: var(--font-peyda) !important;
  font-feature-settings: "ss01" 1;
  font-weight: normal;
  font-style: normal;
  line-height: 31px !important;
}
